/* 
* non-versa base styles 
* IONIC
*/

.time-text {
  font-size: 170;
}

.panel-upper-middle-text {
  y: 106;
}

.panel-lower-middle-text {
  y: 100%-60;
}

.panel-upper-middle-image {
  y: 62;
}

.panel-lower-middle-image {
  y: 100%-106;
  display: none;
}

