/* 
* versa styles 
*/

.time-text {
  font-size: 210;
}

.panel-upper-middle-text {
  y: 116;
}

.panel-lower-middle-text {
  y: 100%-66;
}

.panel-upper-middle-image {
  y: 66;
}

.panel-lower-middle-image {
  y: 100%-112;
  display: none;
}
