.watch {
  x: 0;
  y: 0;
  width: 100%-50;
  height: 100%;
}

#background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: #000000;
}

.time-text {
  font-family: Seville-Bold;
  text-anchor: end;
  text-length: 10;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

#txtAmPm {
  text-anchor: start;
  x: 2;
  y: 18;
  font-size: 24;
}

.hours-10-text {
  x: 50%;
  y: 50%-2;
}

.hours-text {
  x: 100%;
  y: 50%-2;
}

.mins-10-text {
  x: 50%;
  y: 100%-4;
}

.mins-text {
  x: 100%;
  y: 100%-4;
}

.panel {
  x: 100%-60;
  y: 0;
  width: 60;
  height: 100%;
}

#panel-background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

#battery-level {
  fill: #000000;
  x: 5;
  y: 16;
  width: 50;
  height: 12;
}

#battery-icon {
  x: 2;
  width: 56;
  height: 24;
}

.panel-text {
  font-family: Seville-Bold-Condensed;
  font-size: 28;
  text-length: 16;
  fill: #000000;
  x: 50%; 
  text-anchor: middle;
}

.panel-top-text {
  y: 56;
}

.panel-bottom-text-1 {
  y: 100%-32;
}

.panel-bottom-text-2 {
  y: 100%-8;
}

.panel image {
  x: 18;
  fill: #000000;
  width: 24;
  height: 24;
}

.panel-top-image {
  y: 10;
}

.panel-bluetooth-image {
  y: 50%-12;
}


/* settings */

#view-header text {
  font-size: 34;
  font-family: System-Regular;
  font-weight: bold;
  text-length: 32;
  fill: #FFFFFF;
}

.menu-list-item {
  height: 100;
}

#menu-tile-item text {
  x: 50%;
  font-size: 34;
  font-family: System-Regular;
  fill: #FFFFFF;
  text-anchor: middle;
}

.tile-divider-bottom { 
  x: 0; 
  y: 100%-2; 
  width: 100%; 
  height: 2; 
  fill: #A0A0A0;
}

/* all checkboxes */

.checkbox-tile-image image { 
  y: 0;
  fill: #FFFFFF 
}
.checkbox-unselected-color image {
  y: 0;
  fill: #FFFFFF 
}

/* tumbler */

#tumbler { y: 50%-55; }
.tumbler-big-item { height: 90; }
.tumbler-big-item text {font-family: Seville-Bold; font-size: 80; fill: white; x: 5;  }

.tumbler-label {
  font-size: 35;
  font-family: Seville-Bold;
  fill: white;
}


