/* SDK recommendations */
.application-fill           { fill: darkblue; }
.app-gradient-background    { fill: fb-blue; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

.watch {
  x: 0;
  y: 0;
  width: 100%-50;
  height: 100%;
}

#background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: #000000;
}

.time-text {
  font-family: System-Bold;
  font-size: 210;
  text-anchor: end;
  text-length: 10;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

#txtAmPm {
  text-anchor: start;
  x: 2;
  y: 172;
  font-size: 24;
}

.hours-10-text {
  x: 50%;
  y: 50%-12;
}

.hours-text {
  x: 100%;
  y: 50%-12;
}

.mins-10-text {
  x: 50%;
  y: 100%-20;
}

.mins-text {
  x: 100%;
  y: 100%-20;
}

.panel {
  x: 100%-75;
  y: 0;
  width: 75;
  height: 100%;
}

#panel-background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

#battery-level {
  fill: #000000;
  x: 50%-33;
  y: 36;
  width: 50;
  height: 12;
}

#battery-icon {
  x: 50%-36;
  y: 30;
  width: 56;
  height: 24;
}

.panel-text {
  font-family: System-Bold;
  font-size: 28;
  text-length: 16;
  fill: #000000;
  x: 50%-4; 
  text-anchor: middle;
}

.panel-top-text {
  y: 76;
}

.panel-bottom-text-1 {
  y: 100%-52;
}

.panel-bottom-text-2 {
  y: 100%-28;
}

.panel-upper-middle-text {
  y: 136;
}

.panel-lower-middle-text {
  y: 100%-90;
}

.panel-upper-middle-image {
  y: 86;
}

.panel-lower-middle-image {
  y: 100%-140;
  display: none;
}

.panel image {
  x: 50%-16;
  fill: #000000;
  width: 24;
  height: 24;
}

.panel-top-image {
  y: 25;
}

.panel-bluetooth-image {
  y: 50%-12;
}


/* settings */

#view-header text {
  font-size: 34;
  font-family: System-Regular;
  font-weight: bold;
  text-length: 32;
  fill: #FFFFFF;
}

.menu-list-item {
  height: 100;
}

#menu-tile-item text {
  x: 50%;
  font-size: 34;
  font-family: System-Regular;
  fill: #FFFFFF;
  text-anchor: middle;
}

.tile-divider-bottom { 
  x: 0; 
  y: 100%-2; 
  width: 100%; 
  height: 2; 
  fill: #A0A0A0;
}

/* checkbox tile items */

.list-item-checkbox textarea {
  fill: #FFFFFF;
}

.list-item-checkbox #check-rect-border {
  fill: #FFFFFF;
}

.list-item-checkbox #check-on-img {
  fill: #FFFFFF;
  display: none;
}

#touch {
  width: 100%;
  height: 100%-6;
  x: 0;
  y: 0;
  opacity: 0;
}


/* tumbler */

#tumbler { 
  y: 50%-55; 
}

.tumbler-big-item {
   height: 90; 
}

.tumbler-big-item text {
  font-family: System-Bold; 
  font-size: 80; 
  fill: white; 
  x: 5;
}

.tumbler-label {
  font-size: 35;
  font-family: System-Bold;
  fill: white;
}


